@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MPLUSRounded1c';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url('/fonts/MPLUSRounded1c-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'MPLUSRounded1c';
    font-style: normal;
    font-weight: 700;
    font-display: block;
    src: url('/fonts/MPLUSRounded1c-Bold.woff2') format('woff2');
  }
}
