---
import Layout from '../layouts/Layout.astro'
const title = "Kyle's Portfolio | Contact"
---

<Layout title={title}>
    <h1 class='text-2xl font-bold'>Get in touch with me</h1>
    <form
        class='mt-4 md:p-4 md:rounded-md md:border md:border-content/25'
        data-netlify='true'
        name='contact'
        method='POST'
        data-netlify-honeypot='bot-field'
        action='/success/'
    >
        <input name='bot-field' class='bot-input hidden' />
        <div class='mt-4'>
            <label for='name'>Name</label>
            <input
                type='text'
                name='name'
                id='name'
                placeholder='your name'
                minlength='2'
                required
                class='w-full block p-2 border border-content/25 rounded-md shadow-sm bg-bgclr'
            />
        </div>
        <div class='mt-4'>
            <label for='email'>Email</label>
            <input
                type='email'
                name='email'
                id='email'
                placeholder='yourmail@example.com'
                required
                class='w-full block p-2 border border-content/25 rounded-md shadow-sm bg-bgclr'
            />
        </div>
        <div class='mt-4'>
            <label for='phone'>Phone <small>(optional)</small></label>
            <input
                type='tel'
                name='phone'
                id='phone'
                placeholder='555-555-5555'
                class='w-full block p-2 border border-content/25 rounded-md shadow-sm bg-bgclr'
            />
        </div>
        <div class='mt-4'>
            <label for='message'>Message</label>
            <textarea
                name='message'
                id='message'
                rows='4'
                placeholder='your message'
                minlength='3'
                required
                class='w-full block p-2 border border-content/25 rounded-md shadow-sm bg-bgclr'
            ></textarea>
        </div>
        <button
            class='my-6 py-2 px-6 bg-primary text-bgclr font-bold rounded-md lg:hover:brightness-125'
            >Let's talk</button
        >
    </form>
</Layout>
