---
import Layout from '../layouts/Layout.astro'
import skillsIcons from '../data/skillsIcons.json'
import toolsIcons from '../data/toolsIcons.json'
import { Icon } from 'astro-icon'
import Hero from '../components/Hero.astro'
const title = "Kyle's Portfolio | About"
---

<Layout title={title}>
    <Hero />
    <section class='projects'>
        <h2 class='mt-6 text-2xl font-bold underline underline-offset-4'>
            Work and Projects
        </h2>
        <p class='pr-6 mt-2 first-letter:ml-4 sm:pr-0'>
            I'm self-taught, extremely passionate about learning new
            technologies, and constantly growing my web development skills. My
            current focus is the Javascript ecosystem, in which I have about
            five years experience. I love solving problems and creating cool
            things with tech I've learned.
        </p>
        <p class='text-center my-10'>
            <a
                href='/projects'
                class='uppercase py-2 px-6 inline-block font-bold text-2xl rounded-md bg-primary text-bgclr -skew-x-6 -rotate-6 sm:text-3xl lg:hover:brightness-125'
                aria-label='My portfolio of projects'
                >My portfolio<span class='ml-2'>&gt;</span></a
            >
        </p>
    </section>

    <section class='skills'>
        <h2 class='mt-6 text-2xl font-bold underline underline-offset-4'>
            Skills
        </h2>
        <div class='flex items-center flex-wrap gap-7 mt-4'>
            {
                skillsIcons.map(icon => (
                    <Icon
                        name={icon.name}
                        title={icon.title}
                        class='h-8 w-8 sm:h-12 sm:w-12'
                    />
                ))
            }
        </div>
        <h2 class='mt-6 text-2xl font-bold underline underline-offset-4'>
            Tools
        </h2>
        <div class='flex items-center flex-wrap gap-7 mt-4'>
            {
                toolsIcons.map(icon => (
                    <Icon
                        name={icon.name}
                        title={icon.title}
                        class={`w-8 sm:w-12 ${
                            icon.name === 'arch-linux' && 'w-[100px] sm:w-32'
                        }`}
                    />
                ))
            }
        </div>
    </section>

    <section class='weblinks'>
        <h2 class='mt-6 text-2xl font-bold underline underline-offset-4'>
            On the web
        </h2>
        <ul class='grid gap-4 mt-4'>
            <li>
                <a
                    href='https://gitlab.com/KyleKnolleLynch'
                    class='underline inline-flex items-center gap-2 p-1 rounded-md font-bold text-primary lg:no-underline lg:hover:underline lg:hover:bg-primary/30'
                    aria-label='@KyleKnolleLynch Visit my Gitlab profile'
                    target='_blank'
                    rel='noopener'
                    ><span><Icon name='gitlab' class='h-6 w-6' /></span
                    >@KyleKnolleLynch</a
                >
            </li>
            <li>
                <a
                    href='https://github.com/KyleKnolleLynch'
                    class='underline inline-flex items-center gap-2 p-1 rounded-md font-bold text-primary lg:no-underline lg:hover:underline lg:hover:bg-primary/30'
                    aria-label='@KyleKnolleLynch visit my GitHub prolile'
                    target='_blank'
                    rel='noopener'
                    ><span><Icon name='github' class='h-6 w-6' /></span
                    >@KyleKnolleLynch</a
                >
            </li>
            <li>
                <a
                    href='https://codepen.io/kyleknollelynch'
                    class='underline inline-flex items-center gap-2 p-1 rounded-md font-bold text-primary lg:no-underline lg:hover:underline lg:hover:bg-primary/30'
                    aria-label='@KyleKnolleLynch Visit my Codepen profile'
                    target='_blank'
                    rel='noopener'
                    ><span><Icon name='codepen' class='h-6 w-6' /></span
                    >@kyleknollelynch</a
                >
            </li>
        </ul>
    </section>

    <section class='education'>
        <h2 class='mt-6 text-2xl font-bold underline underline-offset-4'>
            Education
        </h2>
        <p class='pr-6 mt-2 first-letter:ml-4 sm:pr-0'>
            I built my first computer in 2018, then started picking up HTML,
            CSS, and Javascript and joined GitHub. I quickly saw the power and
            beauty of Javascript and gained the desire to learn as much as
            possible. The methods I use to learn software, coding, and
            development/programming principles are reading documentation,
            building projects, and studying articles and tutorials/courses by
            experienced developers such as
        </p>
        <ul class='mt-4 ml-6 list-disc'>
            <li><p>Dave Gray</p></li>
            <li><p>Shaun Pelling</p></li>
            <li><p>Akshay Saini</p></li>
            <li><p>John Smilga</p></li>
            <li><p>Tomas Weibenfalk</p></li>
            <li><p>Brad Traversy</p></li>
        </ul>
    </section>

    <section class='hobbies'>
        <h2 class='mt-6 text-2xl font-bold underline underline-offset-4'>
            I ♥
        </h2>
        <p class='pr-6 mt-2 first-letter:ml-4 sm:pr-0'>
            Learning, coffee, history, working on Subarus
        </p>
    </section>
</Layout>
