---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import nextBlog from '../assets/blog_24.avif'
import aquarist from '../assets/modern_aquarist.avif'
import familyTree from '../assets/family_tree.avif'
const title = "Kyle's Projects"
---

<Layout title={title}>
    <h2 class='text-2xl font-bold mt-6 mb-12 underline underline-offset-4'>
        Projects
    </h2>
    <section
        class='grid grid-cols-1 gap-12 mb-12 text-balance md:grid-cols-2 sm:gap-10'
    >
        <article class='relative'>
            <Image
                src={nextBlog}
                alt='next_blog_project'
                loading='eager'
                class='rounded-md border border-content/70 object-cover'
                transition:name='img1'
            />
            <h3
                class='mt-2 text-xl'
                transition:name='title1'
            >
                Next Blog
            </h3>
            <p>A rebuild of my blog using Next.js 14 and Markdown files</p>
            <a
                href='/projects/nextBlog'
                aria-label='Visit Next Blog details page'
                class='absolute inset-0'></a>
        </article>

        <article class='relative'>
            <Image
                src={aquarist}
                alt='modern_aquarist_ecommerce_project'
                loading='eager'
                class='rounded-md border border-content/70 object-cover' 
                transition:name="img2"
            />
            <h3 class='mt-2 text-xl' transition:name="title2">Modern Aquarist E-Commerce</h3>
            <p>E-Commerce Website using Next.js</p>
            <a
                href='/projects/modernAquarist'
                aria-label='Visit Modern Aquarist ecommerce details page'
                class='absolute inset-0'></a>
        </article>

        <article class='relative'>
            <Image
                src={familyTree}
                alt='family_tree_project'
                loading='eager'
                class='rounded-md border border-content/70 object-cover'
                transition:name="img3"
            />
            <h3 class='mt-2 text-xl' transition:name="title3">Family Tree</h3>
            <p>Interactive tree chart built with Next.js</p>
            <a
                href='/projects/familyTree'
                aria-label='Visit Family Tree details page'
                class='absolute inset-0'></a>
        </article>
    </section>
</Layout>
