---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon'
const title = 'Submission success'
---

<Layout title={title}>
  <div class='grid place-items-center'>
    <h1 class='mt-2 text-2xl font-bold'>It worked!</h1>
    <p class='mt-4 font-xl'>
      Thank you, your submission was received! I will get back to you shortly.
    </p>
    <div
      class='inline-flex px-4 py-1 mt-6 rounded-lg bg-primary lg:hover:brightness-125 hover:cursor-pointer'
    >
      <Icon name='back' width={28} />
      <a href='/' class='ml-2 text-lg font-bold'>Go back</a>
    </div>
  </div>
</Layout>
