---

---

<footer class='footer mt-auto pt-4 pb-20 text-center text-content sm:pb-4'>
  <small>&copy; <span id='year'></span> Kyle Lynch. All Rights Reserved.</small>
</footer>

<script is:inline>
  document.getElementById('year').textContent = new Date().getFullYear()
</script>
