---
import { Icon } from 'astro-icon'
import ModeButton from './ModeButton.astro'
import navLinks from '../data/navLinks.json'

const resumeLink = navLinks.find(link => link.name === 'Resume')
---

<header
    class='fixed bottom-0 w-full bg-secondary/80 text-content backdrop-blur-md z-30 sm:bg-black sm:bg-clip-text sm:sticky sm:top-0'
>
    <div
        class='max-w-3xl flex items-center justify-between py-4 px-6 sm:justify-evenly sm:m-auto sm:px-0'
    >
        <a
            href='/'
            class='hidden group sm:flex sm:items-center sm:gap-1 sm:font-bold'
            aria-label='Kyle Lynch about page'
        >
            <Icon
                name='waving-hand'
                class='h-5 w-5 lg:group-hover:rotate-12 lg:transition-transform'
            />
            Kyle Lynch
        </a>
        {
            (
                <a
                    href={resumeLink?.url}
                    class='font-bold sm:hidden'
                    aria-label='Download my resume'
                    download={resumeLink?.download}
                >
                    Resume{' '}
                    <Icon
                        name='download'
                        class='h-5 w-5 inline-flex align-sub'
                    />
                </a>
            )
        }
        <nav aria-label='Main menu'>
            <ul class='hidden sm:flex sm:items-center sm:gap-5'>
                {
                    navLinks.map(link => (
                        <li>
                            <a
                                href={link.url}
                                class='nav-link'
                                data-url={link.url}
                                aria-label={
                                    link.name === 'Resume'
                                        ? 'Download my resume'
                                        : `Visit ${link.name} page`
                                }
                                download={
                                    link.name === 'Resume'
                                        ? link.download
                                        : false
                                }
                            >
                                {link.name}{' '}
                                {link.name === 'Resume' && (
                                    <Icon
                                        name='download'
                                        class='h-5 w-5 inline-flex align-sub'
                                    />
                                )}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <div class='flex items-center'>
            <ModeButton />
            <button
                id='btn-nav-toggle'
                aria-label='Open mobile navigation'
                class='ml-5 sm:hidden'
            >
                <Icon name='menu' class='h-6 w-6 pointer-events-none' />
            </button>
        </div>
    </div>
</header>

<nav aria-label='Mobile menu'>
    <ul
        class='opacity-0 min-h-screen fixed inset-0 flex flex-col items-center justify-center gap-10 pt-8 text-2xl bg-white/70 backdrop-blur-2xl bg-clip-text transition-opacity pointer-events-none z-20'
        id='mobile-navigation'
    >
        {
            navLinks.map(link => (
                <li>
                    <a
                        href={link.url}
                        class='nav-link font-bold'
                        data-url={link.url}
                        aria-label={
                            link.name === 'Resume'
                                ? 'Download my resume'
                                : `Visit ${link.name} page`
                        }
                        download={
                            link.name === 'Resume' ? link.download : false
                        }
                    >
                        {link.name}{' '}
                        {link.name === 'Resume' && (
                            <Icon name='download' class='h-6 w-6 inline-flex' />
                        )}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    .nav-link[aria-current='page'] {
        text-decoration: underline;
        text-underline-offset: 4px;
    }
</style>

<script is:inline>
    //  Toggle moblie nav menu
    const toggleNav = () => {
        const navToggle = document.querySelector('#btn-nav-toggle')
        navToggle?.addEventListener('click', () => {
            const mobileNav = document.querySelector('#mobile-navigation')

            mobileNav.classList.toggle('opacity-0')
            mobileNav.classList.toggle('pointer-events-none')
        })
    }
    toggleNav()

    document.addEventListener('astro:after-swap', toggleNav)

    //  Highlight active page link
    const highlightLink = () => {
        document.querySelectorAll('.nav-link').forEach(link => {
            if (link.dataset.url === window.location.pathname) {
                link.setAttribute('aria-current', 'page')
            }
        })
    }
    highlightLink()

    document.addEventListener('astro:after-swap', highlightLink)
</script>
