---
import { Image } from 'astro:assets'
import headshot from '../assets/profile_headshot.webp'
---

<section class='hero'>
    <p class='p-2 rounded-md bg-secondary text-balance'>
        Hello, I'm a front-end web developer based in Austin, Texas!
    </p>
    <div class='flex flex-wrap mt-4'>
        <aside>
            <h1 class='text-4xl font-bold whitespace-nowrap leading-tight'>
                Kyle Lynch
            </h1>
            <p>Web Developer</p>
        </aside>
        <Image
            src={headshot}
            alt='profile photo'
            loading='eager'
            class='w-28 m-auto rounded-full aspect-square object-cover border-2 border-content sm:w-44 sm:mr-0'
        />
    </div>
</section>
