---
const sunPath =
    'M12 18a6 6 0 1 0 0-12a6 6 0 0 0 0 12m10-6h1M12 2V1m0 22v-1m8-2l-1-1m1-15l-1 1M4 20l1-1M4 4l1 1m-4 7h1'
const moonPath = 'M12 3h.393a7.5 7.5 0 0 0 7.92 12.446A9 9 0 1 1 12 2.992z'
---

<button
    aria-label='Toggle color theme'
    onclick='handleClick()'
    class='w-6 border-0'
>
    <svg
        width='24'
        height='24'
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
    >
        <path
            class='sun fill-yellow-400 stroke-yellow-600 stroke-[1.5]'
            stroke-linecap='round'
            stroke-linejoin='round'
            d={sunPath}></path>
        <path
            class='moon fill-transparent stroke-[1.5]'
            fill='none'
            stroke-linecap='round'
            stroke-linejoin='round'
            d={moonPath}></path>
    </svg>
</button>

<style>
    :root[data-theme='dark'] .sun {
        fill: transparent;
        stroke: transparent;
    }
    :root[data-theme='dark'] .moon {
        fill: royalblue;
        fill-opacity: 0.6;
        stroke: royalblue;
    }
</style>

<script is:inline>
    const changeTheme = newTheme => {
        document.documentElement.dataset.theme = newTheme
    }

    const handleClick = () => {
        let theme
        if (typeof localStorage !== 'undefined' && localStorage.theme) {
            theme = localStorage.theme
        } else if (window.matchMedia('prefers-color-scheme: dark').matches) {
            theme = 'dark'
        } else {
            theme = 'light'
        }

        changeTheme(theme === 'dark' ? 'light' : 'dark')
        localStorage.setItem('theme', theme === 'dark' ? 'light' : 'dark')
    }
</script>
