---
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import Layout from '../../layouts/Layout.astro'
import familyTree from '../../assets/family_tree.avif'
---

<Layout title='Family Tree'>
    <section class='project-page'>
        <a
            href='/projects'
            aria-label='Visit my projects page'
            class='mr-1 text-lg text-primary underline underline-offset-4 lg:no-underline hover:underline hover:underline-offset-4'
            >Projects</a
        ><span class='mr-2'>&gt;</span>
        <h1 class='inline-block text-xl' transition:name='title3'>
            Family Tree
        </h1>
        <p class='mt-2 pr-6 first-letter:ml-4 sm:pr-0'>
            An interactive tree graph using my own family tree as data. I
            created a custom node element to display HTML inside an SVG
            namespace to achive the custom styling I wanted. Zustand used to
            manage app state.
        </p>
        <ul class='mt-4'>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >STACK</small
                >Nextjs, React D3 Tree, Zustand, shadcn, TailwindCSS
            </li>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >WEBSITE</small
                ><a
                    href='https://knolle-and-davis-family-tree.vercel.app'
                    target='_blank'
                    class='text-primary break-all underline lg:no-underline hover:underline'
                    >https://knolle-and-davis-family-tree.vercel.app
                    <Icon
                        name='fe:link-external'
                        width={24}
                        class='inline-block align-top ml-1'
                    />
                </a>
            </li>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >CODE</small
                ><a
                    href='https://gitlab.com/KyleKnolleLynch/knolle-and-davis-family-tree'
                    target='_blank'
                    class='text-primary break-all underline lg:no-underline hover:underline'
                    >https://gitlab.com/KyleKnolleLynch/knolle-and-davis-family-tree
                    <Icon
                        name='gitlab'
                        width={16}
                        class='inline-block align-top ml-1'
                    />
                </a>
            </li>
        </ul>
        <Image
            src={familyTree}
            alt='family_tree_project'
            loading='eager'
            class='mt-4 rounded-md border border-current object-cover'
            transition:name='img3'
        />
    </section>
</Layout>
