---
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import Layout from '../../layouts/Layout.astro'
import aquarist from '../../assets/modern_aquarist.avif'
---

<Layout title='Modern Aquarist E-Commerce Website'>
    <section class='project-page'>
        <a
            href='/projects'
            aria-label='Visit my projects page'
            class='mr-1 text-lg text-primary underline underline-offset-4 lg:no-underline hover:underline hover:underline-offset-4'
            >Projects</a
        ><span class='mr-2'>&gt;</span>
        <h1 class='inline-block text-xl text-balance' transition:name='title2'>
            Modern Aquarist E-Commerce Website
        </h1>
        <p class='mt-2 pr-6 first-letter:ml-4 sm:pr-0'>
            I re-created a project app by Florian Walther, coding out as much as
            possible on my own. I implemented a new animation library for
            tailwindCSS that I'm excited about as well. Sign-in, filter
            products, add, remove, and edit cart. I have not added
            payment/checkout functionality as of yet.
        </p>
        <ul class='mt-4'>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >STACK</small
                >Nextjs, Typescript, Wix Studio, TanStack Query, Zod, React Hook
                Form, shadcn, TailwindCSS
            </li>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >WEBSITE</small
                ><a
                    href='https://next15-wix-ecommerce.vercel.app'
                    target='_blank'
                    class='text-primary break-all underline lg:no-underline hover:underline'
                    >https://next15-wix-ecommerce.vercel.app
                    <Icon
                        name='fe:link-external'
                        width={24}
                        class='inline-block align-top ml-1'
                    />
                </a>
            </li>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >CODE</small
                ><a
                    href='https://github.com/KyleKnolleLynch/next15-wix-ecommerce'
                    target='_blank'
                    class='text-primary break-all underline lg:no-underline hover:underline'
                    >https://github.com/KyleKnolleLynch/next15-wix-ecommerce
                    <Icon
                        name='github'
                        width={16}
                        class='inline-block align-top ml-1'
                    />
                </a>
            </li>
        </ul>
        <Image
            src={aquarist}
            alt='modern_aquarist_ecommerce_project'
            loading='eager'
            class='mt-4 rounded-md border border-current object-cover'
            transition:name='img3'
        />
    </section>
</Layout>
