---
import { Image } from 'astro:assets'
import Icon from 'astro-icon'
import Layout from '../../layouts/Layout.astro'
import nextBlog from '../../assets/blog_24.avif'
---

<Layout title='Next Blog'>
    <section class='project-page'>
        <a
            href='/projects'
            aria-label='Visit my projects page'
            class='mr-1 text-lg text-primary underline underline-offset-4 lg:no-underline hover:underline hover:underline-offset-4'
            >Projects</a
        ><span class='mr-2'>&gt;</span>
        <h1 class='inline-block text-xl' transition:name='title1'>Next Blog</h1>
        <p class='mt-2 pr-6 first-letter:ml-4 sm:pr-0'>
            I refactored my Next.js blog to use Next v.14, local Markdown files,
            Velite, shadcn/ui and TailwindCSS. Features light/dark mode switcher
            using Next Themes, and a contact form using react-hook-form and
            Pipedream.
        </p>
        <ul class='mt-4'>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >STACK</small
                >Nextjs, Typescript, Markdown, Velite, shadcn, TailwindCSS
            </li>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >WEBSITE</small
                ><a
                    href='https://kyles-blog-24.vercel.app'
                    target='_blank'
                    class='text-primary break-all underline lg:no-underline hover:underline'
                    >https://kyles-blog-24.vercel.app
                    <Icon
                        name='fe:link-external'
                        width={24}
                        class='inline-block align-top ml-1'
                    />
                </a>
            </li>
            <li class='mb-2 sm:mb-1'>
                <small
                    class='mr-1 px-1 uppercase text-[0.70rem] font-bold rounded-sm bg-accent text-black'
                    >CODE</small
                ><a
                    href='https://gitlab.com/KyleKnolleLynch/kyles-blog'
                    target='_blank'
                    class='text-primary break-all underline lg:no-underline hover:underline'
                    >https://gitlab.com/KyleKnolleLynch/kyles-blog
                    <Icon
                        name='gitlab'
                        width={16}
                        class='inline-block align-top ml-1'
                    />
                </a>
            </li>
        </ul>
        <Image
            src={nextBlog}
            alt='next_blog_project'
            loading='eager'
            class='mt-4 rounded-md border border-current object-cover'
            transition:name='img1'
        />
    </section>
</Layout>
