---
import { ViewTransitions } from 'astro:transitions'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import '../styles/main.css'
interface Props {
    title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en' class='h-fit font-mplusrounded1c'>
    <head>
        <meta charset='UTF-8' />
        <meta
            name='description'
            content='Personal projects portfolio website built with Astro'
        />
        <meta name='keywords' content='HTML, CSS, Javascript, Astro' />
        <meta name='author' content='Kyle Knolle Lynch' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <link
            rel='preload'
            href='/fonts/MPLUSRounded1c-Regular.woff2'
            as='font'
            type='font/woff2'
            crossorigin
        />
        <link
            rel='preload'
            href='/fonts/MPLUSRounded1c-Bold.woff2'
            as='font'
            type='font/woff2'
            crossorigin
        />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body
        class='h-fit min-h-screen min-w-[320px] flex flex-col text-content bg-bgclr'
    >
        <Header />
        <main class='w-full max-w-prose m-auto p-5'>
            <slot />
        </main>
        <Footer />
        <style is:global>
            html,
            body {
                -webkit-overflow-scrolling: touch;
            }

            :root {
                --clr-content: 0 0% 0%;
                /* --clr-bgclr: 0 0% 100%; */
                /* --clr-bgclr: 39 85% 96%; */
                --clr-bgclr: 39 85% 95%;
                --clr-primary: 123 56% 32%;
                --clr-secondary: 124 57% 90%;
                --clr-accent: 123 56% 50%;
            }

            @media (prefers-color-scheme: dark) {
                :root {
                    /* --clr-content: 0 0% 100%; */
                    --clr-content: 39 85% 96%;
                    /* --clr-bgclr: 0 0% 0%; */
                    --clr-bgclr: 130 3% 10%;
                    --clr-primary: 123 56% 68%;
                    --clr-secondary: 124 57% 10%;
                    --clr-accent: 123 56% 50%;
                }
            }

            :root[data-theme='light'] {
                --clr-content: 0 0% 0%;
                /* --clr-bgclr: 0 0% 100%; */
                /* --clr-bgclr: 39 85% 96%; */
                --clr-bgclr: 39 85% 95%;
                --clr-primary: 123 56% 32%;
                --clr-secondary: 124 57% 90%;
                --clr-accent: 123 56% 50%;
            }

            :root[data-theme='dark'] {
                /* --clr-content: 0 0% 100%; */
                --clr-content: 39 85% 96%;
                /* --clr-bgclr: 0 0% 0%; */
                --clr-bgclr: 130 3% 10%;
                --clr-primary: 123 56% 68%;
                --clr-secondary: 124 57% 10%;
                --clr-accent: 123 56% 50%;
            }

            .text-balance {
                text-wrap: balance;
            }
        </style>
        <script>
            function setTheme() {
                let theme
                if (typeof localStorage !== 'undefined' && localStorage.theme) {
                    theme = localStorage.theme
                } else if (
                    window.matchMedia('prefers-color-scheme: dark').matches
                ) {
                    theme = 'dark'
                } else {
                    theme = 'light'
                }

                document.documentElement.dataset.theme = theme
            }

            setTheme()

            document.addEventListener('astro:after-swap', () => {
                setTheme()
            })
        </script>
    </body>
</html>
