---
import Layout from './Layout.astro'
const { frontmatter } = Astro.props
const { title } = frontmatter
---

<Layout title={title}>
  <div
    class='prose prose-headings:text-content prose-h1:text-2xl prose-h1:font-bold prose-h1:underline prose-h1:underline-offset-4 prose-h1:mt-6 prose-h2:text-xl prose-p:text-base prose-p:text-content text-balance sm:prose-h1:mt-16'
  >
    <slot />
  </div>
</Layout>
